/* Cards Style */
.card img {
  width: 150px;
}
.card {
  width: 200px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 5px grey;
  border: 1px solid grey;
  border-radius: 3px;
  cursor: pointer;
}
.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
